.about {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__ab {
        height:  352.2px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__img {
        width: 40%;
    }

    &__content {
        height: 100%;
        width: 50%;

        .main {
           height: 33.333333333333333%;
           position: relative;

            h2 {
                font-weight: 600;
                font-size: 6.25rem;
                position: absolute;
                width: fit-content;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                opacity: 20%;
            }

            h3 {
                font-size: 1.25rem;
                position: absolute;
                width: fit-content;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                opacity: 60%;
            }
        }

        .greet {
            padding-top: 5px;
            text-align: center;
            opacity: 60%;  
        }

        .social {
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .facebook {
                font-size: 3.125rem;
                letter-spacing: 15px;
                padding: 0;
            }

            .twitter {
                font-size: 3.125rem;
                letter-spacing: 15px;

            }

            .github {
                font-size: 3.125rem;
                letter-spacing: 15px;


            }
        }
    }
}

@media (max-width: 900px) {

    .about {
        height: 150vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &__ab {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    
        &__img {
            width: 90%;
        }
    
        &__content {
            padding-top: 20px;
            height: 100%;
            width: 100%;
    
            .main {
               height: 33.333333333333333%;
               position: relative;
    
                h2 {
                    font-weight: 600;
                    font-size: 4.25rem;
                    position: absolute;
                    width: fit-content;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    opacity: 20%;
                }
    
                h3 {
                    font-size: 1.25rem;
                    position: absolute;
                    width: fit-content;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    opacity: 60%;
                }
            }
    
            .greet {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                text-align: center;
                opacity: 60%;  
                font-size: 14px;
            }
    
            .social {
                padding-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
    
                .facebook {
                    font-size: 3.125rem;
                    letter-spacing: 15px;
                }
    
                .twitter {
                    font-size: 3.125rem;
                    letter-spacing: 15px;
                }
    
                .github {
                    font-size: 3.125rem;
                    letter-spacing: 15px;
                }
            }
        }
    }
}

