.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        width: 100%;
        font-size: 9.375rem;
        font-family: 'The Historia Demo';
    }

    h2 {
        width: fit-content;
        opacity: 75%;
    }
}

@media (max-width: 660px) {
    
    .home {
    
        h1 {
            font-size: 4.6875rem;
        }
    
        h2 {
            width: fit-content;
            opacity: 75%;
            font-size: 0.96875rem;
        }
    }
    
}